<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="foto">
    
    <insert id="guardar" parameterType="map" useGeneratedKeys="true" keyProperty="idFoto">
        INSERT INTO transito.dbo.foto (idReporte, fotoBytes, tiempocreacion)
        VALUES(#{idReporte}, #{foto}, CURRENT_TIMESTAMP);
    </insert>
    
    <select id="findByIdReporte" parameterType="int" resultType="modelo.pojos.Foto">
        SELECT *
        FROM transito.dbo.foto
        WHERE idReporte = #{idReporte};
    </select>
    
    <select id="findByIdIncidente" parameterType="int" resultType="modelo.pojos.Foto">
        SELECT f.*
        FROM transito.dbo.foto f
        INNER JOIN transito.dbo.reporte r ON r.idReporte = f.idReporte
        INNER JOIN transito.dbo.incidente i ON i.idIncidente = r.idIncidente
        WHERE i.idIncidente = #{idIncidente};
    </select>    
</mapper>

